REACT_APP_APIKEY = "" # FIREBASE_APIKEY
REACT_APP_AUTHDOMAIN = "" # FIREBASE_AUTHDOMAIN
REACT_APP_PROJECTID = "" # FIREBASE_PROJECTID
REACT_APP_STORAGEBUCKET = "" # FIREBASE_STORAGEBUCKET
REACT_APP_MESSAGINGSENDERID = "" # FIREBASE_MESSAGINGSENDERID
REACT_APP_APPID = "" # FIREBASE_APPID
REACT_APP_DATABASEURL = "" # FIREBASE_DATABASEURL
