/* New Developers Card UI Styles */
.about-us-dev-card-section {
    width: 100%;
}

/* Dev Card */
.dev-card-container {
    width: 450px;
    height: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.dev-card-bg {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Header */
.dev-card-header {
    width: 100%;
    padding: 36px 32px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    z-index: 5;
}

.dev-card-header>h3 {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--font-color);
    cursor: default;
}

.dev-card-header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dev-card-header-icons>a {
    text-decoration: none;
    color: var(--font-color);
}

.dev-card-header-icons>a>svg {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
    color: var(--font-color);
    cursor: pointer;
}

.dev-card-header-icons>a>svg:hover {
    color: #00B4D8;
}

/* Profile Picture */
.dev-card-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
}

.dev-card-profile-bg {
    width: 90%;
    height: auto;
    z-index: 5;
}

.dev-card-img {
    width: 90%;
    height: auto;
    position: absolute;
    bottom: 4px;
    text-align: center;
    z-index: 10;
}

.dev-card-country-bg {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.dev-card-country-img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 10;
}

/* Description */
.dev-card-description-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 5;
}

.dev-card-description-container>h4 {
    margin: 20px 28px 2px;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    letter-spacing: .5px;
    color: var(--font-color);
    text-align: left;
}

.dev-card-description-bg {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 5;
}

.dev-card-divider {
    width: 100%;
    height: 6px;
    margin: 0 auto;
    z-index: 5;
}

.dev-card-description-text-1,
.dev-card-description-text-2 {
    padding: 0 24px;
    color: var(--font-color);
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: .7px;
    line-height: 22px;
}