/* Navbar */
.Navbar {
  margin: 12px 12px 0;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 12px;
  animation: .5s fadeInDown;
}

.nav-title a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.nav-title img {
  width: 50px;
  height: 50px;
  pointer-events: none;
}

.nav-title span {
  color: var(--font-color);
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 1px;
}

.nav-container {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  list-style-type: none;
}

.nav-container li {
  list-style-type: none;
}

.nav-items {
  padding-bottom: 4px;
  color: var(--font-color);
  border-bottom: 2px solid transparent;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 1px;
  transition: color .3s, border-bottom .3s;
}

.nav-items:hover {
  color: #00b4d8;
  border-bottom: 2px solid #00b4d8;
}

.light-theme .nav-items:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.theme {
  width: 30px;
  height: 30px;
  position: relative;
  top: 2px;
  pointer-events: all;
  cursor: pointer;
}

.mobile-title,
.humburger-icon {
  display: none;
}

/* FadeIn Animations */
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeInRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeInLeftToRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* Body */
.body-container {
  padding: 32px 32px 0 32px;
  margin: 0 0 32px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.body-container .img {
  pointer-events: none;
  height: 300px;
  aspect-ratio: 1/1;
}

.app-name {
  text-align: center;
  color: var(--font-color);
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 1.5px;
}

.tag-line {
  margin: 4px 0 24px;
  text-align: center;
  color: var(--font-color);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
}

.room-joining-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
}

.create-room-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  animation: 1s fadeInUp;
}

.join-room-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  animation: 1s fadeInUp;
}

#lbl-1,
#lbl-2 {
  display: block;
  color: var(--font-color);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
}

.join-room-container.active #lbl-2 {
  color: rgb(255, 0, 0);
  font-weight: normal;
}

.join-room-container.active input {
  border: 2px solid red;
}

.btn-1 {
  width: 400px;
  height: 50px;
  color: #ffffff;
  background-color: #064374;
  outline: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: normal;
  letter-spacing: .7px;
  cursor: pointer;
  transition: background-color .2s;
}

.btn-1:hover {
  background-color: rgba(66, 165, 245, .8);
}

.input-box {
  width: 400px;
  height: 50px;
  padding: 4px 16px;
  color: #000000;
  background-color: #ffffff;
  outline: transparent;
  border: 2px solid transparent;
  border-radius: 6px 8px 8px 6px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: normal;
  letter-spacing: .7px;
}

.btn-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 50px;
  color: #ffffff;
  background-color: #064374;
  outline: transparent;
  border: 1px solid transparent;
  border-radius: 0 5px 5px 0;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: normal;
  letter-spacing: .7px;
  cursor: pointer;
  transition: background-color .2s;
}

.btn-2:hover {
  background-color: rgba(66, 165, 245, .8);
}

/* Release Logs Show More */
.show-more-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-1.show-more-button {
  width: 180px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 16px;
  letter-spacing: .7px;
}

.btn-1.show-more-button:hover>img {
  transform: translateX(4px);
}

.btn-1.show-more-button>img {
  width: 28px;
  height: 28px;
  margin: 1px 0 0 0;
  padding: 2px 0;
  transition: transform .3s ease-in-out;
}

/* Rating Stars Container At Home Page */
.showStar-container {
  margin-top: 50px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: 1.2s fadeInUp;
  cursor: pointer;
}

.showStar-container h3 {
  padding: 4px 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  text-align: center;
  text-wrap: balance;
  color: var(--font-color);
  border: 1.5px solid #064374;
  border-radius: 32px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  letter-spacing: .7px;
  transition: border .3s ease-in-out;
}

.showStar-container h3 span {
  font-size: 24px;
}

.showStar-container h3:hover {
  border: 1.5px solid #00B4D8;
}

/* clipboard page code here */
.status {
  height: 80px;
  margin: 12px 12px 0;
  padding: 0 24px;
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-color);
  border: 1px solid #013653c9;
  border-radius: 12px;
  gap: 10px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.status .nav-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.status .nav-title a {
  gap: 16px;
}

.cp-code {
  display: flex;
  align-items: center;
  gap: 16px;
}

.status .cp-code span {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  background-color: #00b4d8;
  border-radius: 40px;
  font-weight: normal;
  font-size: 18px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.8px;
  cursor: pointer;
  transition: transform .1s ease-in-out, background-color .2s linear;
}

.status .cp-code span:hover {
  background-color: #00b4d8bb;
}

.status .cp-code span:active {
  transform: scale(0.9);
}

.status .cp-code span img {
  width: 28px;
  height: 28px;
  pointer-events: none;
}

#clip-status {
  padding: 2px 8px;
  color: black;
  background-color: #F7E018;
  border-radius: 20px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  letter-spacing: .5px;
}

#input-box {
  width: -webkit-fill-available;
  min-height: calc(100vh - 124px);
  padding: 16px 12px;
  resize: none;
  color: var(--font-color);
  outline: transparent;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 12px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
  letter-spacing: .7px;
}

#input-box::-webkit-scrollbar {
  display: none;
}

/* About Us Page */
.about-us-section {
  width: 100%;
  padding: 32px;
}

.about-us-title,
.about-us-section>h2 {
  margin: 0 0 6px 0;
  color: var(--font-color);
  font-size: 32px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  letter-spacing: 1.4px;
}

.about-us-description,
.about-us-section>p {
  margin: 16px 0;
  color: var(--font-color);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  letter-spacing: .7px;
}

.devs-section {
  animation: 1s fadeInUp;
}

.devs-title {
  margin: 32px 0;
  text-align: center;
  color: var(--font-color);
  font-size: 32px;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  letter-spacing: .7px;
}

/* .dev-card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
} */

.dev-card {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  color: var(--font-color);
  background-color: var(--secondary-color);
  border-radius: 32px;
  transition: transform .3s;
}

.dev-card:hover {
  transform: scale(1.03);
}

.dev-card img {
  width: 150px;
  height: 150px;
  margin: 0 0 16px 0;
  padding: 6px;
  border: 3px solid #F7E018;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-radius: 50%;
  pointer-events: none;
}

.dev-card p {
  color: var(--font-color);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.dev-card button {
  width: 164px;
  height: 50px;
  margin: 10px 0 0;
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: var(--font-color);
  background-color: #00B4D8;
  outline: transparent;
  border: 1px solid transparent;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: .7px;
  transition: background-color .3s, box-shadow .3s;
  cursor: pointer;
}

.dev-card button svg {
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.dev-card button:is(:hover, :active) {
  background-color: #069dbb;
  box-shadow: 0 2px 4px #000;
}

/* Updates Page */
.updates-container {
  padding: 32px;
}

.updates-container hr {
  color: var(--primary-color);
}

.updates-container h1 {
  margin: 0 0 8px 0;
  color: var(--font-color);
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  letter-spacing: 1.4px;
}

.version-release-container {
  margin: 24px 0;
  animation: .5s fadeInUp;
}

.version-release-container h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--font-color);
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 1.4px;
}

.version-release-container h3>img {
  width: 32px;
  height: 32px;
  pointer-events: none;
}

.version-release-container p {
  margin: 3px 0 0 42px;
  color: var(--font-color);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.version-release-container ul {
  list-style-type: none;
  padding: 8px 64px;
  line-height: 1.7rem;
}

.version-release-container ul li {
  color: var(--font-color);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  letter-spacing: .8px;
}

.version-release-container ul li::marker {
  content: '🛠️ ';
}

/* Offline App */
.offline-app-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: var(--font-color);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.offline-app-container h2 {
  text-transform: capitalize;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 2.5rem;
}

.offline-app-container h2 span {
  color: red;
}

.offline-app-container p {
  max-width: 70%;
  font-size: 18px;
  letter-spacing: .7px;
  line-height: 1.7rem;
}

.offline-app-container img {
  margin-top: 16px;
  width: 500px;
  border-radius: 16px;
  pointer-events: none;
}

.offline-app-container button {
  height: 50px;
  padding: 0 20px;
  color: #ffffff;
  background-color: #064374;
  outline: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: normal;
  letter-spacing: .7px;
  cursor: pointer;
}

/* Responsive Updates Page */
@media screen and (max-width: 750px) {
  .updates-container {
    padding: 32px 16px;
  }
}

/* Responsive Navbar */
@media screen and (max-width: 900px) {
  .Navbar {
    padding: 0 16px;
  }
}

@media screen and (max-width: 750px) {
  .Navbar {
    height: 80px;
    position: relative;
  }

  .nav-container {
    width: 100%;
    height: 100vh;
    padding: 32px 16px;
    top: 0;
    right: -100%;
    color: black;
    background-color: #ffffff;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 10;
    transition: right .5s;
  }

  .nav-container.active {
    right: 0;
  }

  .nav-container li {
    width: 100%;
  }

  .nav-items {
    width: 100%;
    display: inline-block;
    color: black;
    font-size: 24px;
    border-bottom: 2px solid gray;
  }

  .mobile-title {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 24px;
    color: black;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
  }

  .cross-icon,
  .humburger-icon {
    display: flex;
    align-items: center;
    font-size: 32px;
  }

  .humburger-icon {
    transform: rotate(180deg);
  }
}

/* Responsive Main Body */
@media screen and (max-width: 930px) {
  .body-container {
    width: 100%;
    padding: 12px 16px;
    gap: 12px;
  }

  .body-container .img {
    height: 300px;
  }

  .room-joining-container {
    margin-top: 8px;
    gap: 24px;
  }

  .app-name {
    font-size: 32px;
  }

  .tag-line {
    margin: 0 0 8px 0;
    font-size: 16px;
  }
}

/* Home Page Input Fields */
@media screen and (max-width: 440px) {

  .btn-1,
  .input-box {
    width: 100%;
  }

  .create-room-container,
  .join-room-container {
    width: 100%;
  }
}

/* About Us Page Responsive */
@media screen and (max-width: 750px) {
  .about-us-section {
    padding: 32px 16px;
  }

  .about-us-title {
    font-size: 24px;
  }

  .about-us-section>h2 {
    font-size: 20px;
  }

  .about-us-description,
  .about-us-section>p {
    font-size: 16px;
  }

  .devs-title {
    margin: 0 0 32px;
    display: block;
    font-size: 26px;
    letter-spacing: .3px;
  }
}

/* Clipboard responsive code */
@media screen and (max-width: 600px) {

  .nav-title,
  .cp-code,
  .status {
    gap: 8px;
  }

  .status {
    min-width: initial;
    display: flex;
    padding: 0 16px;
    position: relative;
  }

  .status .nav-title a span {
    display: none;
  }

  .status .nav-title {
    gap: 8px;
  }

  .status .cp-code span {
    padding: 8px 10px;
    border-radius: 28px;
  }

  #clip-status {
    font-size: 12px;
  }

  .version-release-container ul {
    padding: 12px 0 12px 64px;
  }
}

/* Offline App */
@media screen and (max-width: 786px) {
  .offline-app-container {
    padding: 32px 16px;
    text-align: left;
  }

  .offline-app-container h2 {
    font-size: 32px;
  }

  .offline-app-container p {
    max-width: 100%;
    font-size: 16px;
  }

  .offline-app-container img {
    max-width: 500px;
    width: 100%;
  }
}

/* FeedbackForm page code */
.feedback-container {
  padding: 32px;
  margin: 24px 12px 0;
  display: flex;
  justify-content: center;
  gap: 32px;
  color: var(--font-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 12px;
  font-family: "Rubik", sans-serif;
  animation: fadeInLeftToRight .5s;
}

.feedback-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-img-container>img {
  height: 400px;
  width: 400px;
}

form {
  width: 540px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

form>p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  letter-spacing: .7px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.feedback-form {
  margin: 10px 0;
  gap: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.feedback-h1 {
  display: inline-flex;
  justify-content: center;
}

.form-input {
  width: calc(50% - 12px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  height: 44px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  letter-spacing: .7px;
}

#email {
  width: 100%;
}

textarea {
  background: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  letter-spacing: .7px;
  resize: none;
}

.form-btn1 {
  width: 100%;
  padding: 12px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: transparent;
  color: var(--font-color);
  background-color: rgba(66, 165, 245, .8);
  font-size: 18px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  letter-spacing: .7px;
  cursor: pointer;
  transition: background-color .3s, transform .1s;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #003049;
  --_m:
    conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn)
  }
}

.form-btn1 svg {
  width: 28px;
  height: 28px;
  transition: transform .2s;
}

.form-btn1>div {
  width: 28px;
  height: 28px;
}

.form-btn1:hover {
  background-color: rgb(36, 186, 246);
}

.form-btn1:hover svg {
  transform: rotate(-30deg);
}

.form-btn1:active {
  transform: scale(0.9);
}

.rating-star {
  height: 40px;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  align-items: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: .7px;
}

.rating-star span,
label {
  font-size: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.rating-star span {
  font-size: 36px;
}

/* Feedback page responsive code */
@media screen and (max-width : 756px) {
  .feedback-container {
    padding: 50px 22px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 20px;
    gap: 24px;
  }

  .feedback-form,
  .form-input {
    margin: 0;
    width: 100%;
  }

  textarea {
    width: 600px;
    max-width: 100%;
  }

  .rating-star {
    gap: 5px;
    display: flex;
    flex-direction: column;
  }
}

/* file transfer css here */
.file-container {
  width: 25%;
  min-width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  border: 1px solid #013653c9;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.file-input[type="file"] {
  display: none;
}

#upload-img {
  width: 150px;
  height: 150px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  filter: invert(1) drop-shadow(2px 4px 6px #003049);
}

.feature-label-text {
  padding: 4px 12px;
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 8px;
  color: black;
  background-color: rgb(175, 252, 65);
  border: 1px solid rgb(175, 252, 65);
  border-radius: 12px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: .7px;
  line-height: 26px;
}

#file-label {
  width: 100%;
  height: 100%;
  padding: 40% 0 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--font-color);
  text-align: center;
  text-wrap: balance;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  z-index: 300;
}

.imageDrop-active {
  border: 2px dashed rgb(175, 252, 65);
  background-color: var(--primary-color);
}

#error {
  position: absolute;
  bottom: 28%;
  color: red;
  text-align: center;
  text-wrap: balance;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: .5px;
  line-height: 24px;
  cursor: pointer;
}

#image-display {
  width: 100%;
  margin: 56px 0 0 0;
  z-index: 150;
}

#image-display>div {
  margin: 0 8px 8px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 12px;
}

#image-display>div>div>img {
  width: 100%;
  height: auto;
  max-height: 300px;
  border-radius: 12px;
  object-fit: cover;
}

#image-display>div>figcaption {
  margin: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--font-color);
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.Clipboard-container {
  padding: 12px;
  display: flex;
  align-items: stretch;
  gap: 12px;
  background-color: var(--primary-color);
}

.input {
  width: 75%;
  background-color: var(--secondary-color);
  border: 1px solid #013653c9;
  border-radius: 12px;
}

/* Images Action Buttons Container */
.images-action-buttons-container {
  margin: 12px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.file-download-Btn {
  height: 40px;
  padding: 4px 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--font-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  cursor: pointer;
  transition-duration: .3s;
}

.file-download-Btn>div,
.bin-button>div {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svgIcon {
  fill: rgb(214, 178, 255);
}

/* Message for information */
.message-text-information-img-upload {
  margin: 12px 8px;
  padding: 4px 12px;
  position: absolute;
  bottom: 0;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  color: var(--font-color);
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: .7px;
  line-height: 24px;
  z-index: 10;
}

.message-text-information-img-upload>span {
  font-weight: bold;
}

/* Loader Container and uploaded-image-container */
.uploaded-image-container {
  max-height: 300px;
  position: relative;
}

.uploaded-image-loader-container {
  width: 100%;
  height: 100%;
  min-height: 300px;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffe4c4;
  border-radius: 12px;
  z-index: 250;
}

/* bottom line of download button */
.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid rgb(182, 143, 255);
  border-left: 2px solid rgb(182, 143, 255);
  border-right: 2px solid rgb(182, 143, 255);
}

.file-download-Btn:hover {
  background-color: #00b4d8;
}

.file-download-Btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.file-download-Btn:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* file delete button */
.bin-button {
  height: 40px;
  padding: 4px 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--font-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  cursor: pointer;
  transition-duration: .3s;
}

.bin-bottom {
  width: 15px;
  z-index: 2;
}

.bin-top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
}

.bin-button:hover .bin-top {
  transform: rotate(45deg);
}

.bin-button:hover {
  background-color: rgb(255, 0, 0);
}

.bin-button:active {
  transform: scale(0.9);
}

.garbage {
  position: absolute;
  width: 14px;
  height: auto;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
}

.bin-button:hover .garbage {
  animation: throw 0.4s linear;
}

@keyframes throw {
  from {
    transform: translate(-400%, -700%);
    opacity: 0;
  }

  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

/* Clipboard Navbar Responsive */
@media screen and (max-width: 380px) {
  .status .cp-code span img {
    display: none;
  }

  .status {
    padding: 0 8px;
  }
}

/* Clipboard Image Feature - Responsive */
@media screen and (max-width: 768px) {
  .Clipboard-container {
    flex-direction: column;
  }

  #input-box,
  .input {
    width: 100%;
  }

  .message-text-information-img-upload {
    display: none;
  }

  #image-display {
    margin: 0;
  }

  #input-box {
    height: calc(100vh - 495px);
    min-height: 300px;
  }

  .file-container {
    width: 100%;
    height: 360px;
    min-height: 360px;
  }

  #image-display>div {
    margin: 8px;
  }

  .uploaded-image-container {
    max-height: 250px;
  }

  #image-display>div>div>img {
    max-height: 250px;
  }

  #error {
    top: 14px;
    right: 12px;
    bottom: initial;
  }
}