@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-color: #003049;
  --secondary-color: #1d3557;
  --font-color: #ffffff;
}

/* Light theme */
.light-theme {
  --primary-color: #DCEFFA;
  --secondary-color: #79cff5;
  --font-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  transition: color .5s, background-color .5s;
}

img {
  pointer-events: none;
}

/* Custom Scrollbar Style */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #003049;
}

::-webkit-scrollbar-thumb {
  background-color: #0c1f3a;
  border-radius: 2rem;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 2px;
  }
}